<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>WebCam Streaming</title>
</head>
<body>
    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
        <a class="navbar-brand" href="/">출근</a>
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="./save">등록하러가기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./admin">삭제</a>
          </li>
        </ul>
      </nav>





    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="/video_feed" alt="WebCam Streaming" id="webcam-stream">
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"> <button onclick="copyAndDisplayImage()" class="btn btn-primary">캡처</button>
                <button onclick="uploadImg()"class="btn btn-primary">출근하기</button>
               </div>
            <div class="col-md-4"></div>

        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"> <div id="display-container"></div>
               </div>
            <div class="col-md-4"></div>

        </div>
    </div>
  
    <div id="display-container"></div>

    <script>
        function copyAndDisplayImage() {
            const webcamStream = document.getElementById('webcam-stream');
            const displayContainer = document.getElementById('display-container');

            // 캔버스 생성 및 크기 설정
            const canvas = document.createElement('canvas');
            canvas.width = 400;
            canvas.height = 400;
            const context = canvas.getContext('2d');

            // 이미지 복사 및 크기 조절
            context.drawImage(webcamStream, 0, 0, canvas.width, canvas.height);

            // 이미지를 base64로 얻어옴
            const imageDataURL = canvas.toDataURL('image/jpeg');

            // 이미지를 새로운 이미지 태그에 적용
            const copiedImage = new Image();
            copiedImage.id = 'capImg'; // ID 추가
            copiedImage.src = imageDataURL;
            copiedImage.alt = 'Copied Image';
            copiedImage.width = 400;
            copiedImage.height = 400;

            // 이전에 출력된 이미지를 지우고 새로운 이미지 출력
            displayContainer.innerHTML = '';
            displayContainer.appendChild(copiedImage);

        }
        function uploadImg(){
//             const capImg = document.getElementById('capImg');

// // 이미지를 base64로 얻어옴
// const imageDataURL = capImg.src;

// // 이미지를 서버로 업로드
// axios.post('./uploadfile', { image: imageDataURL })
//     .then(response => {
//         console.log(response.data);
//     })
//     .catch(error => {
//         console.error('Error uploading image:', error);
//     });

//         }
    
        const capImg = document.getElementById('capImg');
const imageDataURL = capImg.src;

// 이미지를 서버로 업로드
axios.post('./uploadfile', { image: imageDataURL })
    .then(response => {
        alert(response.data.message);
    })
    .catch(error => {
        console.error('Error uploading image:', error);
    });
    
}
    
    </script>
</body>
</html>
